version: "3.8"

services:
  # postgres:
  #   image: postgres:15-alpine
  #   environment:
  #     POSTGRES_USER: railier
  #     POSTGRES_PASSWORD: railier
  #     POSTGRES_DB: railier
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data

volumes:
  # postgres_data:
